<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <link rel="icon" href="/images/fudofavicon.png">


    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="../../stylesheets/home.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="../../stylesheets/navbar.css" rel="stylesheet">

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        {{> navbar-new }}

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">Savor the beauty of food</h1>
            <!-- Discover and share the beauty of food -->
            <p class="lead" style="margin:20px">

              <!-- <button class="btn btn-lg btn-secondary" id="divein" onClick="document.getElementById('aboutus-section').scrollIntoView({behavior: 'smooth'});">E N T E R</button> -->
              <button class="btn btn-lg btn-secondary" id="divein">D I S C O V E R</button>

            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>A 6.148 Web App - Developed by Rachel Zhang, Sunny Tian, Deepankar Gupta</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div id="aboutus-section" class="site-wrapper aboutus-div">

      <div class="site-wrapper-inner">

        {{> navbar-new }}

        <div class="cover-container">

          <!-- <div class="inner cover"> -->
            <div class="aboutus-container" style="width:800px">
              <h1 class="aboutus-heading">About Fudo</h1> <br>
              <ul class="aboutus" style="display:inline-block;">
              <li style="display:inline;"><img src="../../images/worldicon_black.png" style="height:25px; width:25px; position:relative; top:5px;"> View the newest and most popular food images. <br/><br/></li>
              <li style="display:inline;"><img src="../../images/upload.png" style="height:25px; width:25px; position:relative; top:5px;"> Share your latest food experiences and favorite recipes. <br/><br/></li>
              <li style="display:inline;"><img src="../../images/recipeicon.png" style="height:25px; width:25px; position:relative; top:5px;"> Find beautiful food you can make.<br/><br/> </li> 
              <li style="display:inline;"> ✓ Save your favorite images and recipes to try later. <br/><br/> </li> 
              <li style="display:inline;"><img src="../../images/loginicon_black.png" style="height:25px; width:25px; position:relative; top:5px;"> Join now to experience our food loving community. </li>
              </ul>
            </div>
          <!-- </div> -->

<!--           <div class="mastfoot">
            <div class="inner">
              <p>A 6.148 Web App - Developed by Rachel Zhang, Sunny Tian, Deepankar Gupta</p>
            </div>
          </div>
 -->
        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../bootstrap/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/js/home.js"></script>
  </body>
</html>
