<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/fudofavicon.png">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../stylesheets/w3lib.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../stylesheets/carousel.css" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <a class="navbar-brand w3-xxlarge" style="margin-left: 10px" href="#">fudo</a>
      </div>
    </nav>

    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img class="first-slide" src="../images/back1.jpg" style="height:auto; width:900px; overflow:hidden" alt="First slide">
          <div class="container">
            <div class="carousel-caption d-none d-md-block text-left">

              <h1>Quality food. Quality captures.</h1>
              <p>Great food is an art that we should enjoy together. At fudo, we believe in sharing, saving, and exploring exquisite dishes.</p>

              <p><a class="btn btn-lg btn-primary carousel-button" href="/newsfeed" role="button">Begin exploring</a></p>

            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="second-slide" src="../images/back4.jpg" style="height:auto; width:900px; overflow:hidden" alt="Second slide">
          <div class="container">
            <div class="carousel-caption d-none d-md-block">

              <h1>Collect.</h1>
              <p>Save all your favorite food images and recipes for later to try anytime.</p>
              <!-- <p><a class="btn btn-lg btn-primary carousel-button" href="/newsfeed" role="button">Begin exploring</a></p> -->

            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="third-slide" src="../images/back3.jpg" style="height:auto; width:900px; overflow:hidden" alt="Third slide">

          <div class="container">
            <div class="carousel-caption d-none d-md-block text-right">
              <h1>Join our food loving community.</h1>
              <p>Bringing together people from all over the world to appreciate food together.</p>
              <p><a class="btn btn-lg btn-primary carousel-button" href="/signup" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing" id="marketing">


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Share Your Creations. <span style = "display: block;" class="text-muted">Upload masterpieces.</span></h2>
          <p class="lead">Created something beautiful? Ate something mouthwatering? Easily share your dish or recipe online through fudo.</p>
        </div>
        <div class="col-md-5">
          <img src="../images/picimage1.jpg" class="proimage" style="width:450px; height:300px; margin-top: 50px; margin-right: 50px; border-radius: 5px;">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 push-md-5">
          <h2 class="featurette-heading">Explore New Palates. <span style = "display: block;" class="text-muted">Discover delight.</span></h2>
          <p class="lead">Learn about food, both local and abroad, through other users' posts. Show your support ♥ and try out your favorites. </p>
        </div>
        <div class="col-md-5 pull-md-7">
          <img src="../images/worldfood.png" class="worldfood" style="width:480px; height:280px; margin-top: 80px; margin-left: -40px; border-radius: 5px;">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Build Your Community. <span style = "display: block;" class="text-muted">Savor favorites.</span></h2>

          <p class="lead">Personalize and save fascinating posts by bookmarking. Connect with other users and view profiles of your favorite posters. Branch out and build your very own fudo community.</p>

        </div>
        <div class="col-md-5">
          <img src="../images/foodtogether.jpg" class="community" style="width:480px; height:280px; margin-top: 100px; margin-right: 50px; border-radius: 5px;">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../bootstrap/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../bootstrap/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="../../js/carousel.js"></script>
    <script src="../../js/carousel.js.map"></script>
  </body>
</html>