.btn { 
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 10px 4px; 
  margin-bottom: 0; 
  font-family: normal;
  font-size: 13px; 
  line-height: 18px; 
  color: #333333; 
  text-align: 
  center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); 
  vertical-align: middle; 
  background-color: #f5f5f5; 
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); 
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); 
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); 
  background-image: linear-gradient(top, #ffffff, #e6e6e6); 
  background-repeat: repeat-x; 
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); 
  border-color: #e6e6e6 #e6e6e6 #e6e6e6; 
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); 
  border: 1px solid #e6e6e6; 
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); 
  cursor: pointer; 
  *margin-left: .3em; 
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { 
  background-color: #e6e6e6; 
}
.btn-large { 
  padding: 9px 14px; 
  font-size: 15px;
  font-family: normal;
  font: normal; 
  line-height: normal; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
}
.btn:hover { color: #333333; 
  text-decoration: none; 
  background-color: #e6e6e6; 
  background-position: 0 -15px; 
  -webkit-transition: background-position 0.1s linear; 
  -moz-transition: background-position 0.1s linear; 
  -ms-transition: background-position 0.1s linear; 
  -o-transition: background-position 0.1s linear; 
  transition: background-position 0.1s linear; 
}

.btn-primary, .btn-primary:hover { 
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); 
  color: #ffffff
}
.btn-primary.active { 
  color: rgba(255, 255, 255, 0.75); 
}

/*
Here are the real colors for the buttons
*/
.btn-primary { 
  font: normal;
  font-family: normal;
  background-color: #4a77d4; 
  background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); 
  background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); 
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4));
  background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); 
  background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); 
  background-image: linear-gradient(top, #6eb6de, #4a77d4); 
  background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  
  border: 1px solid #3762bc; 
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4); 
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); 
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { 
  filter: none; 
  background-color: #4a77d4; 
}
.btn-block { 
  width: 100%; 
  display:block; 
}

.submit action-button {
  width: 100px;
  background: #000033;
  font-style: normal;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html{ 
  width: 100%; 
  height:100%;  
}


body { 
  width: 100%;
  height:100%;
  font: normal;
  font-family: normal;
  background-image: url("../images/mushroom.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center 100%;
  background-repeat: no-repeat;
}

.login { 
  margin-top: 20px;
  position: relative;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}
.login h1 { 
  color: #fff; 
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 0 0 0 0; 
  letter-spacing:1px; 
  font: normal;
  font-family: normal;
  font-size: 30pt;
}

.forminfo {
  text-align: center;
  display: inline-block;
}

/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
  font-style: normal;
}

.masthead-brand {
  margin-bottom: 2rem;
  font-style: normal;
  font-size: 25pt;
}

.masthead-brand a {
  text-decoration: none;
  color: #ffffff;
}

.nav-masthead .nav-link {
  padding: .25rem;
  font-weight: bold;
  font-size: 15pt;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .1rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 5em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/* Padding for spacing */
.inner {
  padding: 2rem;
  color: white;
}

input { 
  width: 100%; 
  margin-top: 5px;
  margin-bottom: 5px; 
  background: rgba(0,0,0,0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  font: normal;
  color: #fff;

  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
}

#msform fieldset .success {
    border: 1px solid green;
}
#msform fieldset .error {
    border: 1px solid red;
}

/*
#msform input:invalid {
  box-shadow: 0 0 5px 1px red;
}

#msform input:focus:invalid {
  outline: none;
}
*/

/* Progress Bar CSS */


/*basic reset*/
* {margin: 0; padding: 0;}

body {
  font-family: normal;
}
/*form styles*/
#msform {
  width: 400px;
  margin: 10px 0 0 0;
  text-align: center;
  position: relative;
  height:440px;
  top: 0;
}
#msform fieldset {
  background: rgba(255,255,255,0.9);
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin:10%;
  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input,
#msform button,
#msform textarea {
  padding: 15px;
  background-color: rgba(255,255,255,0.9);
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: normal;
  color: #000000;
  font-size: 13px;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #000033;
  font-style: normal;
  font: normal;
  font-weight: bold;
  color: rgba(255,255,255,0.9);
  border: 0 none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #000033;
}


/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  float: left;
  width: 50%;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #000033;
  color: white;
}

.about {
  height: 100px;
}

.error-output {
  color: red;
  font-size: .8em;
}